.card {
    display: flex;
    flex-direction:column;
    text-align: center;
    align-items:center; 
    border: 3px solid #b42b19;
    width: 100%;
    height: 100%;
    float: left;
    font-size: 15px;
    overflow: hidden;
    border-radius: 10px;    
background-color: #333;
}

.imagen{
  height: 50%;
  width:80%;
  display: flex;
  border-radius: 10%;
  border: 2px solid rgb(133, 18, 10);
  object-fit: cover;
}

.Nombre{
    color: white;
    font: bold 20px Arial, Helvetica;
    text-decoration: none;
    outline: none;
    text-align: center;
}
.info{
  margin: 1%;
  font: bold 15px Arial, Helvetica;
  text-align: center;
  color:rgb(114, 218, 231)
}